.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed;
    bottom:2rem; */

}

.bar {
    display: flex;
    background: #f0f4f8;
    max-width: 60rem;
    padding: 1rem 1.4rem;
    justify-content: space-between;
    border-radius: 50px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.199);
    ;

    input {
        border: none;
        background: #f0f4f8;
        outline: none;
        font-size: 1rem;

        &:focus {
            border: none;
        }

        width:60rem;
    }

    .btns[class] {
        display: flex;
        gap: 1rem;
    }

}

@media(max-width:600px) {
    .bar {
        width: 100vw !important;
        input {
            width: 80vw;
        } 
    }

}